#startBlockContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#startBlockText {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

#startBlockLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 500px;
  height: 500px;
}

#buttonStartStudying {
  width: 200px;
}

#offeredGoodsBlockContainer {
  width: 100%;
  height: auto;
  margin: 0 5px;
}

.programming-languages-container {
  width: 100%;
  display: flex;
  cursor: grab;
  overflow-x: scroll;
}
.programming-languages-container::-webkit-scrollbar {
  height: 5px;
}
.programming-languages-container::-webkit-scrollbar-track {
  background-color: white;
}
.programming-languages-container::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
.programming-languages-container::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}

.programming-language-container {
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
.programming-language-container i {
  font-size: 50px;
}
.programming-language-container :hover {
  transition: all 3s ease-in-out;
}

@keyframes smooth-appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}
.dropdown-item:focus {
  background-color: #a1a1a1;
}

.nav-link {
  height: 100%;
}

.nav-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 0) and (max-width: 976px) {
  #navbarNav {
    flex-wrap: wrap;
  }
  #navbarNav .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
#sidebarCol {
  width: 0 !important;
  overflow: hidden;
}

.sidebar-col {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-in-out;
  z-index: 100;
}

#sidebar {
  position: relative;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#sidebarToggler {
  position: absolute;
}

#sidebarNav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  border-right: 2px solid lightgrey;
}

#sidebarUl {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 0) and (max-width: 360px) {
  #sidebarToggler {
    position: relative;
    display: flex;
    justify-content: center;
  }
}
#settingsMenu {
  border-right: 2px solid lightgrey;
}

.settings-item, #userBlock {
  border-bottom: 2px solid lightgrey;
}

.nav-pills .nav-link {
  border-radius: 0 !important;
}

.activeItem {
  background-color: lightgrey !important;
  color: white !important;
}

#userAvatar {
  text-align: center;
}
#userAvatar input[type=file] {
  display: none;
}

#userAvatarBlock {
  position: relative;
  margin: 10px;
}

#avatarImg {
  cursor: pointer;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: all ease-in-out 0.3s;
}
#avatarImg :hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

#figCaption {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.3s;
}
#figCaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
#figCaption i {
  font-size: 48px;
}

.settings-group {
  width: 45% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#appearanceSettingsMenu {
  width: 100%;
}

#buttonGroup {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

#buttonUpdate {
  margin-right: 5px;
}

#buttonDelete {
  margin: 0 5px;
}

#buttonClear {
  margin-left: 5px;
}

#textareaGroup, #buttonGroup {
  width: 100% !important;
}

#textButtonLogout, #textLanguageDropdown {
  width: 100% !important;
}

@media (min-width: 0px) and (max-width: 576px) {
  #avatarImg {
    width: 30px;
    height: 30px;
  }
  #figCaption {
    width: 30px;
    height: 30px;
  }
  #figCaption i {
    font-size: 24px;
  }
  #contentContainer {
    padding: 5px !important;
  }
  #buttonUpdate, #buttonClear, #buttonDelete, #buttonLogout {
    width: 100% !important;
    margin: 5px 0 !important;
  }
  .settings-group {
    width: 100% !important;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #avatarImg {
    width: 60px;
    height: 60px;
  }
  #figCaption {
    width: 60px;
    height: 60px;
  }
  #figCaption i {
    font-size: 36px;
  }
  #buttonUpdate, #buttonClear, #buttonDelete, #buttonLogout {
    width: 100% !important;
    margin: 5px 0 !important;
  }
}
.showPassword {
  cursor: pointer;
}

#authImg {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
  border-radius: 25px;
  background-image: url("/static/img/site/light_programming_languages_pattern.png");
}

#authForm {
  border: 3px solid #a1a1a1;
  border-radius: 25px;
  margin: 10px;
  width: 50%;
}

#buttonRegister, #buttonLogin {
  width: 100%;
  margin: 5px 0;
}

@media (min-width: 0px) and (max-width: 576px) {
  #registerForm {
    width: 90%;
    border-radius: 0;
  }
  #content {
    width: 85%;
  }
  #authImg {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #registerForm {
    width: 80%;
    border-radius: 0;
  }
  #content {
    width: 95%;
  }
}
.card {
  border-color: #a1a1a1;
  transition-duration: 0.5s;
  color: black;
  z-index: 2 !important;
}
.card:hover {
  background-color: lightgrey;
  border-color: black;
  transform: scale(0.95);
}

.title {
  border-bottom: 2px solid lightgrey;
}

.label {
  font-size: 24px;
  font-weight: bold;
  display: inline-block !important;
}

textarea {
  max-height: 500px;
}

.form-group {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control, .form-select {
  border-width: 3px;
}

.form-control:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0 0.2rem lightgrey;
}

.form-select:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0 0.2rem lightgrey;
}

.invalid-feedback {
  font-weight: 500;
}

#content {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 75%;
}

#categoryFormImg {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
  border-radius: 25px;
  background-image: url("/static/img/category/form_pattern_2.jpg");
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#categoryAddForm, #categoryUpdateForm, #categoryDeleteForm {
  border: 3px solid #a1a1a1;
  border-radius: 25px;
  margin: 10px;
  width: 50%;
}

#buttonAddCategory, #buttonUpdateCategory {
  width: 100%;
  margin: 5px 0;
}

@media (min-width: 0px) and (max-width: 576px) {
  #categoryAddForm, #categoryUpdateForm, #categoryDeleteForm {
    width: 90%;
    border-radius: 0;
  }
  #content {
    width: 85%;
  }
  #categoryFormImg {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  #buttonDeleteCategory, #buttonCancelDeleteCategory {
    width: 100%;
    margin: 5px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #categoryAddForm, #categoryUpdateForm, #categoryDeleteForm {
    width: 80%;
    border-radius: 0;
  }
  #content {
    width: 95%;
  }
  #buttonDeleteCategory, #buttonCancelDeleteCategory {
    width: 100%;
    margin: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #buttonDeleteCategory, #buttonCancelDeleteCategory {
    width: 100%;
    margin: 5px 0;
  }
}
#itemsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 576px) {
  #itemsContainer {
    justify-content: space-between;
  }
}
.title {
  border-bottom: 2px solid lightgrey;
}

.label {
  font-size: 24px;
  font-weight: bold;
  display: inline-block !important;
}

textarea {
  max-height: 500px;
}

.form-group {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control, .form-select {
  border-width: 3px;
}

.form-control:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0 0.2rem lightgrey;
}

.form-select:focus {
  border-color: #a1a1a1;
  box-shadow: 0 0 0 0.2rem lightgrey;
}

.invalid-feedback {
  font-weight: 500;
}

#content {
  position: relative;
  z-index: 2;
  background-color: transparent;
  width: 75%;
}

#goodFormImg {
  height: 100%;
  width: 100%;
  position: absolute;
  display: block;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  z-index: 1;
  border-radius: 25px;
  background-image: url("/static/img/category/form_pattern_2.jpg");
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#goodAddForm, #goodUpdateForm, #goodDeleteForm {
  border: 3px solid #a1a1a1;
  border-radius: 25px;
  margin: 10px;
  width: 50%;
}

#buttonAddGood, #buttonUpdateGood {
  width: 100%;
  margin: 5px 0;
}

@media (min-width: 0px) and (max-width: 576px) {
  #goodAddForm, #goodUpdateForm, #goodDeleteForm {
    width: 90%;
    border-radius: 0;
  }
  #content {
    width: 85%;
  }
  #categoryFormImg {
    filter: blur(1px);
    -webkit-filter: blur(1px);
  }
  #buttonDeleteGood, #buttonCancelDeleteGood {
    width: 100%;
    margin: 5px 0;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  #goodAddForm, #goodUpdateForm, #goodDeleteForm {
    width: 80%;
    border-radius: 0;
  }
  #content {
    width: 95%;
  }
  #buttonDeleteGood, #buttonCancelDeleteGood {
    width: 100%;
    margin: 5px 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #buttonDeleteGood, #buttonCancelDeleteGood {
    width: 100%;
    margin: 5px 0;
  }
}
#cartTable {
  vertical-align: middle;
}

.cart-img {
  width: 300px;
  height: auto;
}

@media (min-width: 0px) and (max-width: 768px) {
  #cartTableRow {
    display: none;
  }
}
@media (min-width: 768px) {
  #cartCardsBlock {
    display: none;
  }
  #cartBuyButtonBlock {
    display: none;
  }
  #cartTotalSumBlock {
    display: none;
  }
}
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: lightgrey;
}

.footer {
  background-color: lightgrey;
}

/*# sourceMappingURL=light_theme.css.map */
