@import "variables", "mixins";

// start category styles

.card {
  border-color: $post_grey;
  transition-duration: 0.5s;
  color: black;
  z-index: 2!important;

  &:hover {
    background-color: $light_grey;
    border-color: black;
    transform: scale(0.95);
  }
}

// end category styles