@import "variables", "mixins";

// start category styles

.card {
  transition-duration: 0.5s;

  &:hover {
    background-color: $light_grey;
    transform: scale(0.95);
  }
}

// end category styles