@import "variables", "mixins";

// index styles

#startBlockContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#startBlockText {
  margin: 10px 0;
}

#startBlockLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 500px;
  height: 500px;
}

#buttonStartStudying {
  width: 200px;
}

#offeredGoodsBlockContainer {
  margin: 0 5px;
}

.programming-languages-container {
  @include horizontalBlockScrollBar;
}

.programming-language-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100px;
  margin: 0 5px;

  i {
    font-size: 50px;
  }
}

@keyframes smooth-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  #logo {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 300px) and (max-width: 576px) {
  .programming-languages-container {
    width: 300px;
  }
}

@media (min-width: 0px) and (max-width: 300px) {
  .programming-languages-container {
    width: 250px;
  }
}

// end index styles