@import "index", "navbar", "side_navbar", "settings", "auth_forms", "category_forms", "courses", "category";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: $light_grey
}

.footer {
  background-color: $light_grey;
}