@import "index", "settings", "auth_forms", "category_forms", "courses", "category";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header {
  background-color: $light_grey
}

.dropdown-item {
  &:focus {
    background-color: $post_grey;
  }
}

.nav-link {
  height: 100%;
}

.nav-block {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: $light_grey;
}