@import "variables", "mixins", "forms";

#videoFormImg {
  @include formImg;
  background-image: url('/static/img/category/form_pattern_2.jpg');
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

#videoAddForm, #videoUpdateForm, #videoDeleteForm {
  @include formBlock;
}

#buttonAddVideo, #buttonUpdateVideo {
  @include formButtonWidth;
}

@media (min-width: 0px) and (max-width: 576px) {
  #videoAddForm, #videoUpdateForm, #videoDeleteForm {
    @include mediaFormBlock0576;
  }

  #content {
    @include mediaFormContent0576;
  }

  #videoFormImg {
    @include mediaFormImg0576
  }

  #buttonDeleteVideo, #buttonCancelDeleteVideo {
    @include formButtonWidth;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #videoAddForm, #videoUpdateForm, #videoDeleteForm {
    @include mediaFormBlock576768;
  }

  #content {
    @include mediaFormContent576768;
  }

  #buttonDeleteVideo, #buttonCancelDeleteVideo{
    @include formButtonWidth;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  #buttonDeleteVideo, #buttonCancelDeleteVideo {
    @include formButtonWidth;
  }
}